.htitle-dark {
  font-weight: bolder;
  color: var(--dark-secondary);
}

.htitle-light {
  font-weight: bolder;
  color: var(--light-tertiary);
}

.htext-dark {
  font-weight: bolder;
  color: var(--dark-secondary);
}

.htext-light {
  font-weight: bolder;
  color: var(--dark-primary);
}

.carousel-dark {
  /* display: inline-block;
  justify-content: center !important;
  align-items: center !important;
  object-fit: cover !important; */
  transform: scale(.9);
  filter: brightness(0.5);
  /* z-index: -1; */
}

.carousel-light {
  /* display: flex; */
  transform: scale(.9);
  /* z-index: -1; */
}

/* .carousel-inner {
  margin: auto;
  justify-content: center;
} */

.carouselNext-light,
.carouselPrevious-light {
  padding: 10px 11px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: .5rem;
  font-weight: bolder;
  margin: 7px;
  color: var(--light-secondary);
  background-color: var(--light-tertiary);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.carouselNext-light:active,
.carouselNext-light:hover,
.carouselPrevious-light:active,
.carouselPrevious-light:hover {
  color: var(--dark-accent) !important;
  background-color: var(--light-secondary);
  box-shadow: 0 5px var(--light-accent);
  transform: translateY(4px);
}

.carouselNext-dark,
.carouselPrevious-dark {
  padding: 4px 6px;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  font-weight: bolder;
  color: var(--dark-primary);
  background-color: var(--dark-secondary);
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px var(--dark-accent);
}

.carouselNext-dark:hover,
.carouselNext-dark:active,
.carouselPrevious-dark:hover,
.carouselPrevious-dark:active {
  background-color: var(--dark-accent);
  color: var(--light-secondary);
  box-shadow: 0 5px var(--dark-tertiary);
  transform: translateY(4px);
}

.carousel-item figcaption {
  position: absolute;
  bottom: 0;
  color: white;
  text-align: left;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  font-size: min(1.5em, 4vw);
  width: 100%;
}