/* .modal {
  top: 10%;
  width: 30rem;
  max-width: 90%;
  z-index: 10;
  border-radius: 6px;
} */

@keyframes slide-up-fade-in {
  0% {
    transform: translateY (30px);
    opacity: 0;
  }

  100% {
    transform: translateY (0);
    opacity: 1;
  }
}