.account-container {
  /* z-index: -1; */
}

.accountCard-dark {
  background-color: var(--dark-secondary);
  border-radius: 30px;
  box-shadow: 0 0 25px var(--dark-accent);
  padding: 2rem;
  /* z-index: -1; */
}

.accountCard-light {
  background-color: var(--light-tertiary);
  border-radius: 30px;
  box-shadow: 0 0 25px var(--light-accent);
  /* padding: 1rem;
  margin: 1rem; */
  /* z-index: -1; */
}

.cardTitle-dark,
.cardText-dark,
.subTitle-dark {
  color: var(--dark-font);
  letter-spacing: 2px;
  /* z-index: -1; */
}

.cardTitle-light,
.cardText-light,
.subTitle-light {
  color: var(--light-primary);
  letter-spacing: 2px;
  /* z-index: -1; */
}

.cardSubtitle-dark {
  color: var(--light-primary) !important;
  letter-spacing: 2px;
  /* z-index: -1; */
}

.cardSubtitle-light {
  color: var(--light-primary) !important;
  letter-spacing: 2px;
  /* z-index: -1; */
}

.cardLinkText-dark {
  font-size: 1.2rem !important;
  /* z-index: -1; */
}

.cardLinkText-light {
  font-size: 1.2rem !important;
  /* z-index: -1; */
}