.home-title {
  font-family: 'jetBrains' sans-serif;
  font-weight: bolder;
  color: var(--cerulean) !important;
}

.home-text {
  font-family: 'jetBrains' sans-serif;
  font-weight: bolder;
  color: var(--font-dark) !important;
}