.htitle-dark {
  font-family: 'jetBrains' sans-serif;
  font-weight: bolder;
  color: var(--dark-secondary) !important;
}

.htitle-light {
  font-family: 'jetBrains' sans-serif;
  font-weight: bolder;
  color: var(--light-tertiary) !important;
}

.htext-dark {
  font-family: 'jetBrains' sans-serif;
  font-weight: bolder;
  color: var(--dark-secondary) !important;
}

.htext-light {
  font-family: 'jetBrains' sans-serif;
  font-weight: bolder;
  color: var(--dark-primary) !important;
}