:root {
  /* main body */
  --body: #F1FAEE;
  /* font */
  --font-light: #F1FAEE;
  --font-dark: #1D3557;
  /* cards */
  --card: #A8DADC;
  /* buttons */
  --btn-blue: #457B9D;
  --btn-blue-shadow: #757083;
  --btn-red: #E63946;
  --btn-red-shadow: #1D3557;
  --btn-light-font: #F1FAEE;
  --btn-dark-font: #1D3557;
  /* active/hover buttons */
  --abtn-red: #550527;
  --abtn-blue: #457B9D;
  /* color pallette */
  --pantone-red: #E63946;
  --honeydew: #F1FAEE;
  --nonphoto-blue: #A8DADC;
  --cerulean: #457B9D;
  --berkeley-blue: #1D3557;
  --tyrian-purple: #550527;
}

body {
  background-color: var(--body);
  font-family: 'jetBrains' sans-serif;
  font-size: 1.2rem;
  color: var(--font-dark);
}


.btn-light {
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  font-family: 'jetBrains' sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--font-light);
  background-color: var(--btn-b);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.home-title {
  font-family: 'jetBrains' sans-serif;
  font-weight: bolder;
  color: var(--cerulean);
}

.home-text {
  font-family: 'jetBrains' sans-serif;
  font-weight: bolder;
  color: var(--font-dark);
}

.btn-light:hover {
  background-color: var(--abtn-b);
}

.btn-light:active {
  background-color: var(--abtn-b);
  box-shadow: 0 5px var(--btn-blue-shadow);
  transform: translateY(4px);
}

.btn-dark {
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
  font-family: 'jetBrains' sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--font-light);
  background-color: var(--btn-blue);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px --btn-blue-shadow;
}



.btn-dark:hover {
  background-color: var(--abtn-b);
}

.btn-dark:active {
  background-color: var(--abtn-b);
  box-shadow: 0 5px var(--btn-blue-shadow);
  transform: translateY(4px);
}