.outsideBox-dark {
  display: flex;
  color: var(--dark-accent);
}

.outsideBox-light {
  display: flex;
  color: var(--light-accent);
}

.box-dark {
  background-color: var(--dark-secondary);
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px var(--dark-accent);
}

.box-light {
  padding: 16px;
  border-radius: 15px;
  border-color: var(--light-accent);
  box-shadow: 5px 5px 5px var(--light-accent);
}

.loginTop-dark {
  background-color: var(--dark-primary) !important;
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--dark-accent);
}

.loginTop-light {
  background-color: var(--light-tertiary) !important;
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--light-accent);
}

.input-dark {
  font-size: 1.5rem;
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid var(--dark-secondary);
  color: var(--dark-accent);
  box-shadow: 5px 5px 5px var(--dark-accent);
}

.input-light {
  font-size: 1.5rem;
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid var(--light-accent);
  color: var(--light-accent);
  background-color: var(--light-primary);
  box-shadow: 5px 5px 5px var(--light-accent);
}

.outsideBox-dark {
  display: flex;
  color: var(--dark-accent);
}

.outsideBox-light {
  display: flex;
  color: var(--light-accent);
}

.box-dark {
  background-color: var(--dark-secondary);
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px var(--dark-accent);
}

.box-light {
  padding: 16px;
  border-radius: 15px;
  border-color: var(--light-accent);
  box-shadow: 5px 5px 5px var(--light-accent);
}

.signup-dark {
  background-color: var(--dark-primary) !important;
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--dark-accent);
}

.signup-light {
  background-color: var(--light-tertiary);
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--light-accent);
}

.input-dark {
  font-size: 1.5rem;
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid var(--dark-secondary);
  color: var(--dark-accent);
  box-shadow: 5px 5px 5px var(--dark-accent);
}

.input-light {
  font-size: 1.5rem;
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid var(--light-accent);
  color: var(--light-accent);
  background-color: var(--light-primary);
  box-shadow: 5px 5px 5px var(--light-accent);
}

.message {
  font-size: 1.5rem;
  color: var(--light-red);
  text-align: center;
  margin-top: 10px;
  border: none;
}