.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-dark {
  height: 60px;
  background-color: var(--dark-secondary) !important;
  position: relative;
}

.top-light {
  height: 60px;
  background-color: var(--light-tertiary) !important;
  position: relative;
}

.brand,
a {
  align-items: center;
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--light-primary);
  text-decoration: none !important;
  transition: all 0.3s ease 0s;
}

.brand:active,
.brand:hover,
a:active,
a:hover {
  color: var(--dark-accent);
  text-decoration: none;
}

.link-dark {
  font-family: 'Inter', sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-font) !important;
  text-decoration: none !important;
}

.link-light {
  font-family: 'Inter', sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--light-primary) !important;
  text-decoration: none !important;
}

.logo {
  display: flex;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 25px;
}

.nav-elements ul a {
  font-size: 16px;
  color: var(--light-primary);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-elements-dark ul a.active-dark {
  color: var(--dark-accent);
  position: relative;
}

.nav-elements-light ul a.active-light {
  color: var(--dark-accent);
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--light-primary);
  color: var(--dark-accent);
  font-weight: 700;
}

.link:active,
.link:hover {
  color: var(--dark-accent) !important;
  text-decoration: none !important;
}

.sun-moon {
  display: inline-block;
  cursor: pointer !important;
  font-size: 75% !important;
  margin-right: 40px;
}