.registrationMessage-dark {
  color: var(--dark-secondary)
}

.registrationMessage-light {
  color: var(--light-tertiary)
}

.loginMessage-dark {
  color: var(--dark-secondary)
}

.loginMessage-light {
  color: var(--dark-primary)
}

.outsideBox-dark {
  display: flex;
  color: var(--dark-accent);
}

.outsideBox-light {
  display: flex;
  color: var(--light-accent) !important;
}

.box-dark {
  background-color: var(--dark-secondary);
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px;
}

.box-light {
  border-radius: 15px;
  border-color: var(--light-accent);
  box-shadow: 5px 5px 5px;
}

.signup-dark {
  background-color: var(--dark-primary) !important;
  border-radius: 15px;
  box-shadow: 5px 5px 5px var(--dark-accent);
}

.signup-light {
  background-color: var(--light-tertiary) !important;
  border-radius: 5px !important;
  color: var(--light-primary) !important;
  font-weight: bolder;
  box-shadow: 5px 5px 5px var(--light-accent);
  width: 22rem;
}

.input-dark {
  font-size: 1.5rem;
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid var(--dark-secondary);
  color: var(--dark-accent);
  box-shadow: 5px 5px 5px var(--dark-accent);
}

.input-light {
  font-size: 1.5rem;
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 15px;
  border: 2px solid var(--light-accent);
  color: var(--light-accent);
  background-color: var(--light-primary);
  box-shadow: 5px 5px 5px var(--light-accent);
}