.btn-light {
  padding: 7px 10px;
  font-size: 16px !important;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--font-light);
  background-color: var(--light-btn-blue);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn-light:hover {
  background-color: var(--light-nonphoto-blue) !important;
  color: var(--tyrian-purple) !important;
}

.btn-light:active {
  background-color: var(--light-nonphoto-blue) !important;
  box-shadow: 0 5px var(--light-btn-blue-shadow) !important;
  transform: translateY(4px);
}

.btn-dark {
  padding: 7px 10px;
  font-size: 16px !important;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--font-light);
  background-color: var(--dark-btn-blue);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn-dark:hover {
  background-color: var(--dark-abtn-blue) !important;
  color: var(--tyrian-purple) !important;
}

.btn-dark:active {
  color: var(--tyrian-purple) !important;
  background-color: var(--dark-abtn-blue) !important;
  box-shadow: 0 5px var(--dark-abtn-blue-shadow) !important;
  transform: translateY(4px);
}