.wrapper {
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
}

.wrapper header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px 10px;
    border-bottom: 1px solid #e0e0e0;
}
header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}
.calender ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}